body {
    width: 100%;
    height: 3813px;
    margin: 0%;
    border: 0%;
    background: #FAA968;
}

header { 
    display: flex;
    width: 98%;
    height: 41px;
    flex-shrink: 0;
    padding: 1% 0 1% 1%;
    
}

.headerText {
    display: inline-flex;
    align-items: center;
    gap: 39px;
    padding-left: 2.5%;
    margin: none;
    color: #F75526;
    font-family: Fieldwork;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    text-align: right;
    padding: 0%;
    margin-left: auto;
    margin-right: 1%;
}

header li {
    display: inline-flex;
    align-items: center;
    gap: 21px;
    height: 41px;
    padding-left: 2.5%;
}

header img { 
    width: 50px;
}

/* LANDING PAGE */

.bgElement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.TitleLandingPage {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 30%;
    width: fit-content
}

.bgElement h1 {
    color: #FFF;
    font-family: Cubano;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 172px */
    letter-spacing: -2px;
    margin: 0;
}

.bgElement h2 {
    color: #FFF;
    font-family: Fieldwork;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.LPageElement {
    position: absolute;
    width: 100%;
    height: 1005px;
    flex-shrink: 0;
    z-index: 1;
}

.FlavaTruck {
    width: 1343px;
    height: 1005px;
    grid-area: 1 / 2 / 2 / 3;
}

/*Instructions Sections*/

.instructionSection {
    height: 1466px;
}

.whiteBar {
    background-color: #FFF;
    width: 100%;
    height: 99px;
}


/*HomePage About Us section */

.homePgAboutUs {
    display: flex;
    width: 100%;
    height: 593px;
    flex-shrink: 0;
}

.homePgAboutUs img {
    position: absolute;
    width: 100%;
}

.opaqueOverlayHomePage { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 593px;
    background: rgba(250, 169, 104, 0.35);
    z-index: 1;
}

.opaqueOverlayHomePage h1 {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 92.88px */
    letter-spacing: -1.08px;
    margin: 0;
}

.opaqueOverlayHomePage h2 {
    grid-area: 3 / 2 / 4 / 5;
    width: 565px;
    height: 178px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Fieldwork;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 39.6px */
    letter-spacing: -0.36px;
    margin: 2% 0 0 10%;

}

.opaqueOverlayHomePage h3 {
    grid-area: 4 / 3 / 5 / 5;
    color: #17254D;
    font-family: Fieldwork;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 55px */
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin: 0;
}

/*Gallery*/

.homePgGallery {
    height: 473px;
}

/*Footer*/

footer {
    height: 274px;
    background: #016162;
}

footer h1 {
    color: #FFF;
    font-family: Fieldwork;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 4%;
}

.footerRedirects {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    padding: 2% 0 0 3%;
}

footer ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    text-align: right;
    padding: 0%;
    margin-left: auto;
    margin-right: 1%;
}

footer li {
    display: inline-flex;
    align-items: center;
    gap: 21px;
    height: 41px;
    padding-left: 2.5%;
}