body {
    width: 100%;
    height: 3213px;
    margin: 0%;
    border: 0%;
    background: #FAA968;
}

header { 
    display: flex;
    width: 98%;
    height: 41px;
    flex-shrink: 0;
    padding: 1% 0 1% 1%;
}

.headerText {
    display: inline-flex;
    align-items: center;
    gap: 39px;
    padding-left: 2.5%;
    margin: none;
    color: #F75526;
    font-family: Fieldwork;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    text-align: right;
    padding: 0%;
    margin-left: auto;
    margin-right: 1%;
}

header li {
    display: inline-flex;
    align-items: center;
    gap: 21px;
    height: 41px;
    padding-left: 2.5%;
}

header img { 
    width: 50px;
}

/* LANDING PAGE */

.bgElement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
}

.TitleLandingPage {
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 30%;
    width: fit-content
}

.bgElement h1 {
    color: #FFF;
    font-family: Cubano;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 172px */
    letter-spacing: -2px;
    margin: 0;
}

.bgElement h2 {
    color: #FFF;
    font-family: Fieldwork;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.LPageElement {
    position: absolute;
    width: 100%;
    height: 905px;
    flex-shrink: 0;
    z-index: 1;
}

.FlavaTruck {
    width: 1343px;
    height: 905px;
    grid-area: 1 / 2 / 2 / 3;
}

/*Instructions Sections*/

.instructionSection {
    height: 966px;
}

.sideBar {
    background-color: #005F60;;
    width: 25%;
    height: 100%;
}

.sideBar ul {
    margin: 0;
    padding: 2rem 0 0 2rem ;
}

.sideBar li {
    text-decoration: none;
    list-style-type: none;
    color: #D7DF26;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 34.4px */
    letter-spacing: -0.4px;
    padding: 1rem 1rem 1rem 0;
}

.notesSection {
    display: flex;
    justify-content: center;
    width: auto;
    height: 456px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 9px solid #0A6667;
    background: #0D6F6D;
    margin: 30px 30px 0 30px;
}

.notesSection h2 {
    color: #D7DF26;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 34.4px */
    letter-spacing: -0.4px;
}




/*HomePage About Us section */

.homePgAboutUs {
    display: flex;
    width: 100%;
    height: 593px;
    flex-shrink: 0;
}

.homePgAboutUs img {
    position: absolute;
    width: 100%;
}

.opaqueOverlayHomePage { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 593px;
    background: rgba(250, 169, 104, 0.35);
    z-index: 1;
}

.opaqueOverlayHomePage h1 {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 92.88px */
    letter-spacing: -1.08px;
    margin: 0;
    white-space: nowrap;
}

.opaqueOverlayHomePage h2 {
    grid-area: 3 / 3 / 4 / 5;
    width: 565px;
    height: 178px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Fieldwork;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 39.6px */
    letter-spacing: -0.36px;
    margin: 2% 0 0 10%;

}

.opaqueOverlayHomePage h3 {
    grid-area: 4 / 4 / 5 / 5;
    color: #17254D;
    font-family: Fieldwork;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 55px */
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}

/*Home Page Gallery Redirect*/

.homePgGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 473px;
    width: 100%;
}

.homePgGallery img {
    height: 473px;
    width: 100%;
    position: absolute;
}


.homePgGallery h1 {
    color: #FFF;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 61.92px */
    letter-spacing: -0.72px;
}

.homePgGalleryTitle {
    z-index: 1;
}

/*Footer*/

footer {
    height: 274px;
    background: #016162;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

footer h1 {
    color: #FFF;
    font-family: Fieldwork;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 4%;
}

.footerRedirects {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    padding: 1% 0 0 3%;
}

.footerSocials {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.5%;
}

.footerSocials img {
    scale: 0.8;
}

footer ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0%;
    text-align: right;
    padding: 0 0 0 3%;
    justify-content: center;
}

footer li {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    height: 41px;
}

a {
    text-decoration: none;
    color: inherit;
}

/*About Page*/

.aboutBody {
    width: 100%;
    height: 2504px;
    margin: 0%;
    border: 0%;
    background: #FAA968;
}

.aboutContent {
    width: 100%;
    height: 905px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.aboutContent img {
    scale: 0.9;
    grid-area: 2 / 3 / 3 / 6;
    margin: 0 0 0 15%;
}

.aboutTitle {
    width: 100%;
    height: 155px;
    flex-shrink: auto;
    background-color: #F0562C;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aboutTitle h1 {
    margin: 0 2rem 0 0;
    color: #FFF;
    text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 92.88px */
    letter-spacing: -1.08px;
}

.aboutFlex {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 3 / 3;
}

.aboutFlex h1 {
    color: #F75526;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 75.68px */
    letter-spacing: -0.88px;
    margin: 0;
    white-space: nowrap;
}

.aboutFlex p {
    color: #000;
    font-family: Fieldwork;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 30.96px */
    letter-spacing: -0.36px;

}

/*Member Images*/

.memberSection {
    display: flex;
}

.memberSection h1 {
    color: #F0562C;
    font-family: Cubano;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 55.04px */
    letter-spacing: -0.64px;
    margin: 1.5rem 0 0.5rem 0;
}

.memberSection h2 {
    color: #000;
    font-family: Fieldwork;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -0.36px;
    margin: 0 0 0 1.5rem;
}

.memberSection ul {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.memberSection ul li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
}

.memberNameOne {
    display: flex;
    justify-content: center;
}

.memberImages {
    display: flex;
    justify-content: center;
    background-color: #F0562C;
    padding-bottom: 10px;
    overflow: hidden;
}

.memberImages img {
    width: 98%;
    transition: transform 0.3s ease;
}

.memberImages img:hover {
    transform: scale(1.1);
}

/*Maps Container*/

.mapsBody {
    width: 100%;
    height: 1504px;
    margin: 0%;
    border: 0%;
    background: #FAA968;
}

.mapsMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1191px;
    flex-shrink: 0;
    background: #FFF;
}

.mapsMainContainer h1 {
    color: #F0562C;
    font-family: "ARB-218 Big Blunt MAR-50";
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%; /* 65.36px */
    letter-spacing: -0.76px;
    margin: 30px 0;
}

.mapsMainContainer h2 {
    color: #F0562C;
    font-family: Fieldwork;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 86%;
    letter-spacing: -0.44px;
    margin: 1rem 0 0 0;
}

.mapsNavBar {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1221px;
    height: 66px;
    flex-shrink: 0;
    background-color: #f7f7f7;
    border: 2px solid #B0B0B0;
}

.mapsNavBar h4 {
    color: #000;
    text-align: center;
    font-family: Fieldwork;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 86%; /* 20.64px */
    letter-spacing: -0.24px;
}

.mapsTitle {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.mapsTitlePlacement {
    display: inline-flex;
    align-items: center;
    gap: 25px;
    white-space: nowrap;
    grid-area: 1 / 2 / 2 / 4; 
}

/*GALLERY*/

.galleries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
    width: 90%;
    height: 150vh;
    margin: 10px auto;
    resize: both;
}

.gallery {
    position: relative;
    display: inline-block;
    flex: 1 1 150px;
    width: 150px;
    height: 250px;
    margin: 2px;
    text-decoration: none;
    background-color: rgba(0,0,0, 0.50);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0, 0.0);
    transition: box-shadow 300ms, transform 400ms, z-index 400ms, background-position 400ms;
    z-index: 1;
}

.gallery div span {
    display: block;
}

.gallery div span:first-child {
    font-weight: bold;
}

.gallery div span:last-child {
    font-size: 1em;
}

.gallery:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.7);
    transform: scale(1.2, 1.2);
    z-index: 100;
}

.galleryImg img, .galleryText div {
    min-width: 0px;
    max-width: 500px;
}

.galleryImg {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.galleryImg img {
    display: block;
    height: 100;
    opacity: 0;
}

.galleryImg div {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 97.5%;
    white-space: nowrap;
    background-color: rgba(0,0,0, 0.30);
    opacity: 0;
    transition: opacity 300ms;
    color: #FFF;
    font-family: Fieldwork;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 39.6px */
    letter-spacing: -0.36px;
    padding: 10px 0 10px 10px;
}

.galleryImg div span {
    font-size: 0.8em;
}

.galleryImg:hover div {
    opacity: 1;
}

.galleryText div {
    display: block;
    width: auto;
    height: 100%;
}
